extends baseEmail

block content
    p Hi #{firstName},
    p We are sorry you are leaving :(
    p But with a simple login you can get back! :)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target="#") Give a Cut Back!
    p If you need any help with booking your next tour, please don't hesitate to contact me!
    p - Eduardo Marcos, CEO